




<div class="container"  ng-Controller="c_userController" align= "center">
  
 <br>
  <div class="card" style="width:400px; ">
   <h4 style="background-color:lightblue;padding:10px;" align="center" class="card-title"><b>Login</b></h4><br>
    <img class="card-img-top" src="resources/images/loginn.PNG" alt="Card image" style="width:30%">
    <div class="card-body">
     <form ng-submit="login()">
					<div class="col-sm-12">
						
							<div class="form-group">
								
					<input type="email" name="user_email" ng-model="User.user_email"  placeholder="Enter User emailid Here.." class="form-control" alt="" required="required">
							</div>
					 		<div class="form-group">
								
								<input type="password" name="user_password" ng-model="User.user_password" placeholder="Enter Password Here.." class="form-control"required="required">
							</div>
						</div>		
						<button type="submit"  class="btn btn-lg btn-info">login</button>					
				
				</form> 
    </div>
  </div>

</div>















<!-- <div class="container" ng-Controller="c_userController">

 <h1 class="well"><center><font face="Monotype Corsiva" color="blue">Login Form</font></center></h1>
	<div class="col-lg-12 well">
	<div class="row">
				
		</div>
	</div>
	</div></div> -->
