

<div class="container" ng-Controller="c_userController">


<br>
<div align="center">
	<div class="card" style="width:400px;padding:0px;border:1px solid black;">
 	 <h4 style="background-color:lightblue;padding:10px;" align="center" class="card-title"><b>Register</b></h4><br>
    	<div class="card-body">
    
   		<form ng-submit="register()">
   			<div class="input-group mb-3">
				<div class="input-group-prepend">
        			<span class="input-group-text"><i class="fa fa-user-circle" style="font-size:20px"></i></span>
        		</div>
      			<input type="text" name="username" ng-model="User.username"  placeholder="Enter User Name Here.." class="form-control" required="required">
			</div>
			
			<div class="input-group mb-3">
				<div class="input-group-prepend">
        			<span class="input-group-text"><i class="fa fa-credit-card" style="font-size:20px"></i></span>
      			</div>
      			<input type="text" name="loginName" ng-model="User.login_name" placeholder="Enter Your Login Name Here.." class="form-control"required="required">					
			</div>
   		   
    		<div class="input-group mb-3">
      			<div class="input-group-prepend">
        			<span class="input-group-text"><i class="fa fa-envelope" style="font-size:20px"></i></span>
        		</div>
      			<input type="email" name="emailId" ng-model="User.user_email" placeholder="Enter Email Address Here.." class="form-control"required="required">
    		</div>
    
    		<div class="input-group mb-3">
      			<div class="input-group-prepend">
        		<span class="input-group-text"><i class="fa fa-lock" style="font-size:20px"></i></span>
      			</div>
      			<input type="password" name="user_password" ng-model="User.user_password" placeholder="Enter Password Here.." class="form-control"required="required">
    		</div>
    		
    		<div class="input-group mb-3">
      			<div class="input-group-prepend">
        		<span class="input-group-text"><i class="fa fa-map-marker" style="font-size:20px"></i></span>
      			</div>
      			<textarea name="details" ng-model="User.details" placeholder="Enter Address Here.." rows="3" class="form-control"required="required"></textarea>
    		</div>
    		
    		<div class="input-group mb-3">
      			<div class="input-group-prepend">
        		<span class="input-group-text">&nbsp;<i class="fa fa-phone" style="font-size:20px"></i></span>
      			</div>
      			<input type="number" name="mobileNo" ng-model="User.mobile" placeholder="Enter Mobile Number Here.." class="form-control" maxlength="10" min="10"required="required">
    		</div>
    
    		<div align="center">
    			<button type="submit" style="width:60%;line-height:80%;padding:10px;"  class="btn btn-lg btn-primary">Submit</button>	
  			</div>
  		</form>
	
		</div>
	</div>
</div>




























 <!-- <h1 class="well"><center><font face="Monotype Corsiva" color="blue">Registration Form</font></center></h1>
	<div class="col-lg-12 well">
	<div class="row">
				<form ng-submit="register()">
					<div class="col-sm-12">
						<div class="row">
							<div class="form-group">
								<label>User Name</label>
								<input type="text" name="username" ng-model="User.username"  placeholder="Enter User Name Here.." class="form-control">
							</div>
							
							<div class="form-group">
						<label>Email Address</label>
						<input type="email" name="emailId" ng-model="User.user_email" placeholder="Enter Email Address Here.." class="form-control">
					</div>	
							
							
							<div class="form-group">
								<label>Password </label>
								<input type="password" name="user_password" ng-model="User.user_password" placeholder="Enter Password Here.." class="form-control">
							</div>
						</div>					
						<div class="form-group">
							<label>Address</label>
							<textarea name="details" ng-model="User.details" placeholder="Enter Address Here.." rows="3" class="form-control"></textarea>
						</div>	
				
						 <div class="form-group">
								<label>Login Name</label>
								<input type="text" name="loginName" ng-model="User.login_name" placeholder="Enter Your Login Name Here.." class="form-control">
						</div>	
						
					<div class="form-group">
						<label>Mobile Number</label>
						<input type="number" name="mobileNo" ng-model="User.mobile" placeholder="Enter Mobile Number Here.." class="form-control" maxlength="10" min="10">
					</div>		
					
					
					<button type="submit"  class="btn btn-lg btn-info">Submit</button>					
					</div>
				</form> 
		</div> -->
	</div>
	
