<div class="container" ng-Controller="c_forum_Controller">
<h1 class="well"><center><font face="Monotype Corsiva">Forum details</font></center></h1>
<div ng-repeat="forum in listForumData">
<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#{{forum.forum_id}}">{{forum.forum_name}}</button>
{{forum.forum_likes}}<button class="btn btn-primary" ng-click="incrementLikes(forum.forum_id)">likes</button>

  <div id="{{forum.forum_id}}" class="collapse show">
    {{forum.forum_description}}
  </div>
  <div ng-hide="forum.forum_status=='A'">
  <input type="button" value="Approve" ng-click="approveForum(forum.forum_id)" class="btn btn-info"/>
  </div>
  <div ng-hide="forum.forum_status=='R'">
  <input type="button" value="Reject" ng-click="rejectForum(forum.forum_id)" class="btn btn-danger"/>
  </div>
  <hr>
</div>
</div>