<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap</title>

  <style>
  /* Make the image fully responsive */
  .carousel-inner img {
      width:100%;
      height: 100%;
  }
  </style>
</head>
<body>

<div class="container5">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ul>
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="resources/images/Slide1.jpg" alt="Los Angeles" style="width:100%;">
    </div>
    <div class="carousel-item">
      <img src="resources/images/Slide2.jpg" alt="Chicago" style="width:100%;">
    </div>
    <div class="carousel-item">
      <img src="resources/images/Slide3.jpg" alt="New York" style="width:100%;">
    </div>
  </div>

</div>
</div>
<script> $('.carousel').carousel();</script>



<div class="row">
<div class="col-sm-6" style=" width:40%; align:center; border:3px solid blue; padding-right: 0;background-color: white;">
<div class="myBoldFont text-center" style="font-size:25px;padding:30px;color: #fff;background-color: orange">
Top 5 Blogs</div>
<div class="caption text-center" ng-Controller="c_blogController"style="background-color: white;">

<div ng-repeat="b in blogss"  class="col-md-12 blogBox" >
<h3><a ng-href="#/showBlog"><b>{{b.blog_title}}</b></a></h3><br/>


<div><span style="font-size:18px;">{{b.blog_description.substring(0,300)}}.........</span></div>
<br/>
<div class="row">
<div class="col-sm-8"><b>Author : </b>{{b.login_name}}</div>
<div class="col-sm-4" style="float: right;"><b><i class="fa fa-calendar"></i></b> {{b.blog_created_date | date:"dd/MMM/yyyy"}}</div>
</div>
<hr size="2">
</div>
</div>
</div>


<div class="col-sm-6" style="width:40%;min-height:60%; ">

<div style="border:3px solid blue;">
<div class="myBoldFont text-center" style="font-size:25px;padding:30px;background-color: lightgreen;">
Job Notification</div>
<marquee direction="up" style="background-color:#fff;height:400px">
<ul ng-Controller="c_userController">
<li ng-repeat="job in alljobs"><h3>{{job.job_title}}</h3></li>
</ul>
</marquee>
</div>
</div>

</div>
<div>
<br>
<footer  style="background-color: powderwhite; border: 4px;">
<div class="container-fluid footer1" >
<div class="row">
<div class="col-md-3">
				<h3><b>Information</b></h3>
				<ul class="foot-info">
					<li><a href="#/aboutUs">FAQ's</a></li>
					<li><a href="#/aboutus">About Us</a></li>
					<li><a href="#/listofjob"/>Jobs</a></li>
        			<li><a href="#/showBlog">Blogs</a></li> 
				</ul></div>
				<div class="col-md-3">
				<h3><b>Manage</b></h3>
				<ul class="foot-info">
				
         <li><a href="#/showFriends"/>My Friends</a></li>
         <li ng-show="currentUser">
        <form ng-controller="c_userController" >
<input type="submit" value="Logout" class="btn btn-info" ng-click="logout()">
</form>
       </ul></div>
				<div class="col-md-3">
				<h3><b>Contact Us</b></h3>
				<ul class="foot-info" type="none">
					<li><i class="fa fa-map-marker" style="color:black"></i> New Delhi, India</li>
					<li><i class="fa fa-envelope" style="color:black"></i> sachindhillon0000@gmail.com</li>
					<li><i class="fa fa-phone" style="color:black"></i> 7988314892</li>
				</ul></div>
				<div class="col-md-3 ">
				<h3><b>Follow us on</b></h3>
				
			<ul>
              <li class="facebook"><a href="https://www.facebook.com">Facebook</a></li>
              <li class="twitter"><a href="https://www.twitter.com">Twitter</a></li>
              <li class="pinterest"><a href="https://in.pinterest.com">Pinterest</a></li>
              <li class="googleplus"><a href="https://plus.google.com">GooglePlus</a></li>
              <li class="vimeo"><a href="https://vimeo.com">Vimeo</a></li>
              <li class="youtube"><a href="https://www.youtube.com">Youtube</a></li>
            </ul>
     

     
				</div>
</div>
</div>
<div class="container-fluid footer2">
	© 2018 FrienlyChat. All rights reserved | Design & Developed by Sachin
</div></footer> 

</div>
</body></html>